# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [2]:
# 記得先 Import 正確的套件
import pandas as pd

In [6]:
df1 = pd.DataFrame({'Apples':[30],'Bananas':[21]})
display(df1)

df2 = pd.DataFrame({'Apples':[35,41],'Bananas':[21,34]},index=['2017 Sales', '2018 Sales'])
display(df2)

   Apples  Bananas
0      30       21

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [8]:
df1 = pd.DataFrame({'city':['Austin' ,'Dallas','Austin' ,'Dallas'],
                    'visitor':[139,237,326,456],
                    'weekday':['Sun','Sun','Mon','Mon'] })
display(df1)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [20]:
df2 = df1.groupby('weekday')[['visitor']].mean()
display(df2)
print(f'{df2.index[1]}={df2.visitor[1]}')
print(f'{df2.index[0]}={df2.visitor[0]}')

         visitor
weekday
Mon        391.0
Sun        188.0

Sun=188.0
Mon=391.0

In [22]:
for day in set(df1['weekday']):
    print(day, df1[df1['weekday'] == day]['visitor'].mean())

Mon 391.0
Sun 188.0